@mixin button{
    min-width: 12rem;
    font-size: 1rem;
    color: white;
    background: linear-gradient(-10deg, $primary-color, $secondary-color);
    height: 3.3rem;
    border-radius: 3rem;
    padding: 0 1.6rem;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    &:hover{
        cursor: pointer;
        box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.5);
        opacity: 0.9;
    }
}


$font-weights:(
    "light": 300,
    "regular": 400,
    "medium": 500,
    "bold": 700
);

/*green check appears on dishes when hovering*/
@keyframes buy{ /*final width of text*/
    0%{
        min-width: 85%;
    }
    100%{
        min-width: 70%;
    }
}

@keyframes buy-inverse{/*initial width of text*/
    0%{
        min-width: 70%;
    }
    100%{
        min-width: 85%;
    }
}

@keyframes check{/*green check on hovering*/
    0%{
        transform: rotate(-420deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes check-inverse{/*green check going to initial position*/
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-420deg);
    }
}

/*dishes will appear when arriving to site*/
@keyframes dishes{
    0%{
        transform: translateY(100%);
        opacity:0;
    }
    75%{
        opacity:0.2;
    }
    100%{
        transform: translateY(0%);
        opacity:1;
    }
}

/*presentation of whole menu*/
@keyframes menu{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

/*behaviour of whole spinner*/
@keyframes load{
    0%{z-index: 100;}
    95%{z-index: 100;}
    100%{z-index: -10;}
}
/*circle part of spinner*/
@keyframes spinner{
    0%{transform : rotate(0deg);opacity:1;}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);opacity:1;}
    90%{opacity: 0;}
  }
  /*title part of spinner*/
  @keyframes title{
    0%{color:#9356DC;opacity:1;}
    25%{color:#FF79DA;}
    50%{color:#99E2D0;}
    75%{color: black;}
    95%{opacity:1;}
    100%{opacity:0;}
  }
