@import "./resets";
@import "./variables";
@import "./mixins&maps&keys";
@import "./mediaqueries";



body{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    margin-top: 0;

}
main{
    @include media-width;
}

.load{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    animation: load 2.5s 0.5s both;
    outline: 100px white solid;
        

    &__spinner{
      position: absolute;
      width: 12rem;
      height: 12rem;
      border: 3px solid black;
      border-radius: 50%;
      border-top-color: $tertiary-color;
      border-left-color: black;
      border-bottom-color: $primary-color;
      border-right-color: $secondary-color;
      opacity:0;
      animation: spinner 2.5s 0.5s both;
          

    }
    &__title{
      display: flex;
      width: 100%;
      height:100%;
      justify-content: center;
      align-items: center;
      animation: title 2.5s 0.5s both ;
      opacity:0;
      background-color: white;
      font-family: 'Shrikhand', cursive;
      font-size: 1.8rem;
    }
  }

/*title for every page*/
.top {
    position: relative;
    h1{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    margin: 0.6rem;
    }
    @include media-width;
}


.explore-menu{
    &__location{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: $background-color-1;
        & .fa-map-marker-alt{
            position: absolute;
            margin-right: 10rem;
            margin-bottom: 0.2rem;
        }
        h4{
            margin: 1rem 0;
            font-weight: map-get($font-weights, regular)
        }
    }
    &__book{
        display: flex;
        flex-direction: column;
        padding: $padding-main;
        align-items: center;
        text-align: center;
        background: $background-color-2;

        h2{
            padding: 0.5rem 0;
        }
        h3{
            font-weight: map-get($font-weights, light);
            padding: 2rem 0;
        }
        & button{
            @include button;
        }
    }
}

.how-it-works{
    padding: $padding-main;
    h2{
        padding: 1rem 0;
    }
    &__wrap{
        @include media-steps;
        display: flex;
        flex-direction: column;
    }
    &__step{
        @include media-steps-size;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: $background-color-2;
        border-radius: 1.5rem;
        box-shadow: $shadow;
        position: relative;
        margin: 0.7rem 0 0.7rem 0.6rem;
        padding: 1.5rem 0;
        & .number{
            width: 1.5rem;
            height: 1.5rem;
            text-align: center;
            background: $primary-color;
            color: white;
            border-radius: 2rem;
            position: relative;
            left: -0.6rem;
            padding: 0.2rem 0.1rem 0 0;
        }
        & .icon{
            width: 1.5rem;
            margin: 0 1rem;
            color: $icon-color;
            font-size: 1.1rem;
        }
        h4{
            font-weight: 500;
        }
        &:hover{
            background-color: lighten($primary-color,35%);
        }
        &:hover > .icon{
            color: $primary-color;
        }
    }
}

.restaurants{
    padding: $padding-main;
    background: $background-color-2;
    h2{
        padding: 1.4rem 0;
    }
    h4{
        font-weight: map-get($font-weights, regular);
    }
    &__wrap{
        @include media-restaurants;
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;
    }
    &__card{
        @include media-card;
        position: relative;
        
        a{
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: black;
            height: 250px;
            width: 100%;
            box-shadow:$shadow;
            border-radius: $border-card;
            justify-content: center;
                img{
                    height: 175px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: $border-img;
                    margin-bottom: 0px;
                }
                /*positioning of picture with bigger height*/
                #tall-picture{ 
                    object-position: 0 60%;
                }
                
        }
        .fa-heart{
            position: absolute;
            right: 2rem;
            bottom: 2rem;
            font-size: 1.5rem;
            z-index: 99;
            &.empty{
                color: black;
            }
            &.full{
                opacity: 0;
            }
            &.empty:hover{
                cursor: pointer;
                color: $primary-color;
            }
            &.full:hover{
                cursor: pointer;
                color: transparent;
                background: linear-gradient( $primary-color,$secondary-color);
                background-clip: text;
                transition: opacity 0.5s;
                opacity: 1;
                }
        }
    }
    
    &__name{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        background: white;
        height: 30%;
        border-radius: $border-name;
        padding: 1rem;
        & h3, h4{
            margin: 0;
        }
    }
    &_new{
        position: absolute;
        right: 0.8rem;
        top: 0.8rem;
        background-color: $tertiary-color;
        color: darken($tertiary-color, 45%);
        padding: 0.4rem 1.5rem;
        border-radius: 0.2rem;
        font-size: 0.8rem;

    }
}

/*-----------------------------------------style for pages of restaurants------------------------------*/
    /*home button*/
     .fa-arrow-left{  
        font-size: 1.2rem;
        color: black;
        position: absolute;
        top: 0.5rem;
        left: 2rem;
    }
    
/*top image for each restaurant's page*/
.background-img {
    width: 100%;
    height: 17rem;
    @include media-size-pict;
    z-index: 1;
    position: relative;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        

    }
}
.menu{
    background-color: $background-color-2;    
    padding: $padding-menu;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 2.5rem 2.5rem 0 0;
    margin-top: -3.3rem;
    position: relative;
    z-index: 2;
    .restaurant{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .restaurant-name{
        font-family: Shrikhand;
        font-size: 1.7rem;
        font-weight: 500;
        padding:0.3rem 0.2rem 2rem 0.2rem;
        @include media-center;
    }
    .fa-heart{
        @include media-padding;
        position: absolute;
        right: 2rem;
        top: 2.4rem;
        font-size: 1.5rem;
        color: $primary-color;
        z-index: 100;
        &.empty{
            color: black;
        }
        &.full{
            opacity: 0;
        }
        &.empty:hover{
            cursor: pointer;
            color: $primary-color;
        }
        &.full:hover{
            cursor: pointer;
            color: transparent;
            background: linear-gradient( $primary-color,$secondary-color);
            background-clip: text;
            transition: opacity 0.5s;
            opacity: 1;
            }
    }
    &__section{
        width: 100%;
        @include media-padding;
        h3{
            font-weight: map-get($font-weights, light);
            padding:0.3rem 0;
            margin-left: 0.5rem;            
            animation: menu $anim-duration $anim-delay linear both;
        }
        hr{
            width: 2.3rem;
            border: 2px solid $tertiary-color;
            margin-left: 0.5rem;
            margin-bottom: 1rem;
            animation: menu $anim-duration $anim-delay*2 linear both;
        }
    }

    &__wrap{
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;
        margin-bottom: 2rem;
        @include media-menu;
    }
    & .dish{
        @include media-dish;
        display: flex;
        flex-direction: row;
        width:100%;
        height: 70px;
        background: white;
        border-radius: $border-card;
        box-shadow: $shadow;
        overflow: hidden;
        animation: dishes $anim-duration ease-out both;
            @for $i from 1 through 4 {
                &--#{$i} {
                    animation-delay: $anim-delay*$i;
                }
            }

        &__text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 85%;
            height:  70px;
            padding: 0.7rem 0 0.7rem  0.7rem;
            animation: buy-inverse 0.5s;
        
            h3{
                font-weight: map-get($font-weights, medium);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0;
                margin-left: 0;
            }
            p{
                font-size: 0.9rem;
                font-weight: map-get($font-weights, light);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__price{
            display: flex;
            height: 100%;
            min-width: 15%;
            padding: 0rem 1.5rem 0.7rem  0.7rem;
            justify-content: flex-end;
            align-items: flex-end;
        }
        &__check{
            min-width: 15%;
            height: 70px;
            border-radius: 0 1rem 1rem 0;
            background-color: $tertiary-color;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .check{
            transform: rotate(-180deg);
            font-size: 1.5rem;
            color: white;
            position: center;
            animation: check-inverse 0.5s;
        }
    &:hover{
        cursor:pointer;
    }
    &:hover  .dish__text{
        animation: buy 0.5s forwards;
    }
    &:hover .check{
        animation: check 0.5s forwards;
    }
    }
}
.order{
    margin-top: 1rem;
    @include button;
}


footer{
    @include media-padding-footer;
    display: flex;
    flex-direction: column;
    background: $background-color-3;
    padding: $padding-footer;
    color: white;
    h3{
        font-family: 'Shrikhand';
        font-weight: map-get($font-weights,regular);
        margin: 0 0 1rem 0;
    }
    .foot-section{
        li{
            margin-bottom: 0.5rem;
            list-style: none;
            a{
                color: white;
            }
            .footericon{
                width: 1rem;
                font-size: 0.8rem;
                margin-right: 1rem;
            }
            h4{
                display: inline-block;
                font-weight: map-get($font-weights, regular);
            }
        }
        @include media-menu;

    }
    @include media-width;


}